body {
    background-color: black;
    color: #00CC00;

}

#ceiling {
    border-style: groove;
    border-color: #0000CC;
    border-width:0 0 5px 0;
    padding: 10px;
}
#ceiling .btn {
    padding: 5px;
    border-color: #990000;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#game {
    text-align: center;
}
#cockpit {
    width: 1000px;
}

#dashboard {
    border-style: groove;
    border-color: #0000CC;
    border-width:5px 0 0 0;
    padding-top: 10px;
}
#panel-status {
    position: relative;
    float: left;
    margin-top: 50px;
}
#panel-status td {
    background-color: #0000CC;
}

#panel-map {
    position: relative;
    float: right;
    margin-top: 50px;
    border-style: solid;
    border-color: #990000;
    border-width: 1px;
}
#telnet {
    margin: 0 auto;   /* align for good browsers */
    width: 590px;
    border-style: groove;
    border-color: #0000CC;
    border-width: 3px;
    padding: 0 0 5px 5px;
}
#viewport {
    height: 200px;
    background: url(/stars-bg.jpg) repeat;
}

#panel-chat {
    margin-top: 10px;
}